<header>
    <div class="bg-white rounded shadow-lg">
        <nav class="flex justify-between container mx-auto py-5 px-7">
            <div class="flex items-center space-x-3">
                <a href="{{ path('app_login') }}">
                    <img class="w-80 h-full" src="/images/logo.svg" alt="logo image">
                </a>
            </div>
            <ul class="hidden md:flex items-center space-x-2 ">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li onclick="selected()"
                        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-white bg-[#fd00c5]  cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded">
                        <a href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li onclick="selected()"
                        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-gray-600 border bg-[#fd00c5] border-white bg-gray-50 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded">
                        <a href="{{ path('app_register') }}">Sign Up</a>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li onclick="selected()"
                        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-gray-600 border border-white bg-gray-50 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded">
                        <a href="{{ path('events_list') }}">Events</a>
                    </li>
                    <li onclick="selected()"
                        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-gray-600 border border-white bg-gray-50 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded">
                        <a href="{{ path('user_details', {'id': app.user.id} ) }}">My Account</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li onclick="selected()"
                        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-gray-600 border border-white bg-gray-50 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded">
                        <a href="{{ path('user_list') }}">Users</a>
                    </li>
                    <li onclick="selected()"
                        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-gray-600 border border-white bg-gray-50 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded">
                        <a href="{{ path('cities_list') }}">Cities</a>
                    </li>
                    <li onclick="selected()"
                        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-gray-600 border border-white bg-gray-50 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded">
                        <a href="{{ path('locations_list') }}">Locations</a>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li onclick="selected()"
                        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-gray-600 border border-white bg-gray-50 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded">
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <!-- for smaller DEVICES -->
        <div class="block md:hidden w-full mx-auto py-5 pt-0 px-7 z-50">
            <div onclick="selectNew()"
                 class="cursor-pointer px-4 py-3 text-white bg-[#fd00c5] rounded flex justify-between items-center w-full">
                <div class="flex space-x-2">
                    <span id="s1" class="font-semibold text-sm leading-3 hidden"></span>
                    <p id="textClicked"
                       class="font-normal text-sm leading-3 focus:outline-none hover:bg-gray-800 duration-100 cursor-pointer ">
                        Menu</p>
                </div>
                <svg id="ArrowSVG" class=" transform" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 9L12 15L18 9" stroke="white" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="relative z-50">
                <ul id="list" class="hidden font-normal text-base leading-4 absolute top-2 w-full rounded shadow-md z-50">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li onclick="selectedSmall()"
                            class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">
                            <a href="{{ path('app_login') }}">Login</a>
                        </li>
                        <li onclick="selectedSmall()"
                            class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">
                            <a href="{{ path('app_register') }}">Sign Up</a>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li onclick="selectedSmall()"
                            class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">
                            <a href="{{ path('events_list') }}">Events</a>
                        </li>
                        <li onclick="selectedSmall()"
                            class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">
                            <a href="{{ path('user_details', {'id': app.user.id} ) }}">My Account</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li onclick="selectedSmall()"
                            class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">
                            <a href="{{ path('user_list') }}">Users</a>
                        </li>
                        <li onclick="selectedSmall()"
                            class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">
                            <a href="{{ path('cities_list') }}">Cities</a>
                        </li>
                        <li onclick="selectedSmall()"
                            class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">
                            <a href="{{ path('locations_list') }}">Locations</a>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li onclick="selectedSmall()"
                            class="px-4 py-3 text-gray-600 bg-gray-50 border border-gray-50 focus:outline-none focus:bg-gray-100 hover:bg-gray-100 duration-100 cursor-pointer text-xs leading-3 font-normal">
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>

<script>function selected() {
        var targeted = event.target;
        var clicked = targeted.parentElement;

        var child = clicked.children;

        for (let i = 0; i < child.length; i++) {
            if (child[i].classList.contains("text-white")) {
                child[i].classList.remove("text-white", "bg-indigo-600");
                child[i].classList.add(
                    "text-gray-600",
                    "bg-gray-50",
                    "border",
                    "border-white"
                );
            }
        }

        targeted.classList.remove(
            "text-gray-600",
            "bg-gray-50",
            "border",
            "border-white"
        );
        targeted.classList.add("text-white", "bg-indigo-600");
    }

    function selectNew() {
        var newL = document.getElementById("list");
        newL.classList.toggle("hidden");

        document.getElementById("ArrowSVG").classList.toggle("rotate-180");
    }

    function selectedSmall() {
        var text = event.target.innerText;
        var newL = document.getElementById("list");
        var newText = document.getElementById("textClicked");
        newL.classList.add("hidden");
        document.getElementById("ArrowSVG").classList.toggle("rotate-180");
        newText.innerText = text;

        document.getElementById("s1").classList.remove("hidden");
    }
</script>