{% extends 'base.html.twig' %}

{% block title %} Create a new event! {% endblock %}

 {% block javascripts %}
     <script src="/js/event.js" defer></script>
 {% endblock %}

{% block body %}
    <h2>Create a new event</h2>

    {{ form_start(form) }}
    <div class="errors">
        {{ form_errors(form) }}
    </div>

    <div class="form__container">
        <div class="form__row">
            <div class="form__col">
                {{ form_row(form.name) }}
            </div>
            <div class="form__col">
                {{ form_row(form.startDateTime) }}
            </div>
            <div class="form__col">
                {{ form_row(form.registrationDeadline) }}
            </div>
            <div class="form__col">
                {{ form_row(form.maxRegistrations) }}
            </div>
            <div class="form__col">
                {{ form_row(form.duration) }}
            </div>
            <div class="form__col">
                {{ form_row(form.eventDetails) }}
            </div>
        </div>

        <div class="form__row">
            <div class="form__col">
                {{ form_row(form.location) }}
            </div>

            <div class="form__col">
                {{ form_row(form.city) }}
            </div>

            <div class="form__col" id="place-select-wrapper">
                {{ form_row(form.place) }}
            </div>

            <div class="form__col" id="place-details" style="display: none;">
                <p><strong>Street:</strong> <span id="place-street"></span></p>
                <p><strong>Longitude:</strong> <span id="place-longitude"></span></p>
                <p><strong>Latitude:</strong> <span id="place-latitude"></span></p>
            </div>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    </div>

    {{ form_end(form) }}

{% endblock %}

