{% extends 'base.html.twig' %}

{% block title %}Location List{% endblock %}

{% block body %}
    <h1>Location List</h1>

    <div>
        {{ form_start(searchForm) }}
        {{ form_widget(searchForm.name) }}
        {{ form_widget(searchForm.search) }}
        {{ form_widget(searchForm.clear) }}
        {{ form_end(searchForm) }}
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.name }}</td>
                <td>
                    <a href="{{ path('location_update', {'id': location.id}) }}">Update</a>
                    <a href="{{ path('location_delete', {'id': location.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form action="{{ path('locations_list') }}" method="post">
                <td>
                    {{ form_widget(form.name) }}
                </td>
                <td>
                    <button type="submit">Add location</button>
                </td>
                {{ form_rest(form) }}
            </form>
        </tr>
        </tbody>
    </table>
{% endblock %}