{% extends 'base.html.twig' %}

{% block title %}City List{% endblock %}

{% block body %}
    <h1 class="whitespace-nowrap px-6 py-4 text-8xl">City List</h1>
                    <table class=" text-start text-sm font-light text-surface dark:text-white">
                        <thead class="border-b border-neutral-200 font-medium dark:border-white/10">
                        <tr>
                            <th scope="col" class="px-6 py-4">City</th>
                            <th scope="col" class="px-6 py-4">Zip Code</th>
                            <th scope="col" class="px-6 py-4">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for city in cities %}
                            <tr class="border-b border-neutral-200 dark:border-white/10">
                                <td class="whitespace-nowrap px-6 py-4 font-medium">{{ city.name }}</td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">{{ city.zipCode }}</td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">
                                    <a href="{{ path('city_update', {'id': city.id}) }}" class="mr-2 cursor-pointer px-4 py-3 text-white bg-[#fd00c5] rounded items-center ">Update</a>
                                    <a href="{{ path('city_delete', {'id': city.id}) }}"class="mr-2 cursor-pointer px-4 py-3 text-white bg-[#fd00c5] rounded  items-center ">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <form action="{{ path('cities_list') }}" method="post">
                                <td>
                                    {{ form_widget(form.name) }}
                                </td>
                                <td>
                                    {{ form_widget(form.zipCode) }}
                                </td>
                                <td>
                                    <button type="submit">Add city</button>
                                </td>
                                {{ form_rest(form) }}
                            </form>
                        </tr>
                        </tbody>
                    </table>
{% endblock %}
