{% extends 'base.html.twig' %}

{% block title %}User Details{% endblock %}

{% block body %}
    <section class="relative block h-96 overflow-hidden rounded-lg">
        <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
            background-image: url('/images/pattern-bg-user.jpg');
          ">
        </div>
        <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
             style="transform: translateZ(0px)">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
                 version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>

    <section class="mx-auto relative py-16 bg-blueGray-200">
        <div class="px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
                <div class="px-6">
                    <div class="mt-12 flex flex-wrap justify-center">
                        <div class="relative w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
                            <div class="">
                                <div class="max-w-56 shadow-xl rounded-full overflow-hidden align-middle border-none">
                                    <img alt="profile picture"
                                         src="https://demos.creative-tim.com/notus-js/assets/img/team-2-800x800.jpg"
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-12">
                        <h1 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">
                            <strong>{{ user.lastName }}</strong> {{ user.firstName }} <strong>#</strong>{{ user.id }}
                        </h1>

                        <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
                            AKA <strong>{{ user.username }}</strong>

                            <div class="px-4 py-4 whitespace-nowrap flex gap-2 justify-center">
                                {% for role in user.roles %}
                                    {% if role == 'ROLE_ADMIN' %}
                                        <div>
                                            <span class="relative inline-block px-3 py-1 font-semibold text-red-900 leading-tight">
                                                <span aria-hidden="true"
                                                      class="absolute inset-0 bg-red-200 opacity-50 rounded-full"></span>
                                                <span class="relative text-sm">
                                                    admin
                                                </span>
                                            </span>
                                        </div>
                                    {% elseif role == 'ROLE_USER' %}
                                        <div>
                                             <span class="relative inline-block px-3 py-1 font-semibold text-blue-900 leading-tight">
                                                <span aria-hidden="true"
                                                      class="absolute inset-0 bg-blue-200 opacity-50 rounded-full"></span>
                                                <span class="relative text-sm">
                                                    user
                                                </span>
                                            </span>
                                        </div>
                                    {% else %}
                                        <div>
                                             <span class="relative inline-block px-3 py-1 font-semibold text-gray-900 leading-tight">
                                                <span aria-hidden="true"
                                                      class="absolute inset-0 bg-gray-200 opacity-50 rounded-full"></span>
                                                <span class="relative text-sm">
                                                    {{ role }}
                                                </span>
                                            </span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                        <div class="mb-2 text-blueGray-600 mt-10 flex gap-2 justify-center items-center">
                            <div class="w-5">
                                {{ ux_icon('heroicons:map-pin') }}
                            </div>
                            <div>{{ user.location.name }}</div>
                        </div>

                        <a href="mailto:{{ user.email }}"
                           class="text-[#fd00c5] mb-2 mt-2 flex gap-2 justify-center items-center">
                            <div class="w-5">
                                {{ ux_icon('heroicons:envelope') }}
                            </div>
                            <div class="underline">{{ user.email }}</div>
                        </a>

                        <a href="tel:{{ user.phoneNumber }}"
                           class="text-[#fd00c5] mb-2 mt-2 flex gap-2 justify-center items-center">
                            <div class="w-5">
                                {{ ux_icon('heroicons:phone') }}
                            </div>
                            <div class="underline">{{ user.phoneNumber }}</div>
                        </a>

                        <div class="px-4 py-4 whitespace-nowrap flex gap-2 justify-center">
                            <div>
                                {% if user.isActive %}
                                    <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                    <span aria-hidden="true"
                                          class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                    <span class="relative text-sm">
                                        active
                                    </span>
                                </span>
                                {% else %}
                                    <span class="relative inline-block px-3 py-1 font-semibold text-red-900 leading-tight">
                                                <span aria-hidden="true"
                                                      class="absolute inset-0 bg-red-200 opacity-50 rounded-full"></span>
                                                <span class="relative text-xs">
                                                    inactive
                                                </span>
                                            </span>
                                {% endif %}
                            </div>

                            <div>
                                {% if user.isVerified %}
                                    <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                        <span aria-hidden="true"
                                              class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                        <span class="relative text-sm">
                                            verified
                                        </span>
                                    </span>
                                {% else %}
                                    <span class="relative inline-block px-3 py-1 font-semibold text-red-900 leading-tight">
                                        <span aria-hidden="true"
                                              class="absolute inset-0 bg-red-200 opacity-50 rounded-full"></span>
                                        <span class="relative text-xs">
                                            unverified
                                        </span>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
                        <div class="w-full lg:w-9/12 px-4 flex gap-3 justify-center mx-auto mb-6">
                            <a href="{{ path('user_update', {'id': user.id}) }}" class="flex justify-center py-2 px-4 border border-transparent rounded-md
                    shadow-sm text-sm font-medium text-white bg-[#fd00c5] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Update</a>
                            <a href="{{ path('user_delete', {'id': user.id}) }}" class="flex justify-center py-2 px-4 border border-transparent rounded-md
                    shadow-sm text-sm font-medium text-gray-800 bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Delete</a>
                        </div>

                        <a href="{{ path('user_list') }}" class="underline text-[#fd00c5]">Back to user list</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
